body {
  background-image: url('../../assets/images/quiz_background.webp');
  background-size: cover;
  background-repeat: no-repeat;
  color: #36454F;
}

#quiz-question,
#game-display {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  border-radius: 5px;
  font-size: 1.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin: 10px 0;
}

#options-container button {
  font-size: 1.2em;
  /* Increased font size for the options */
}

.container {
  max-width: 800px;
  /* You can adjust this value to control the container width */
}


.container {
  background-color: rgba(255, 255, 255, 0.041);
  padding: 20px;
  border-radius: 10px;
}

.btn-primary,
.btn-success,
.btn-outline-primary {
  background-color: #000080;
  border-color: #000080;
  color: #FFFFFF;

}

.btn-primary:hover,
.btn-success:hover,
.btn-outline-primary:hover {
  background-color: #FF0000;
  border-color: #FF0000;
}


#score-counter,
#question-counter {
  color: #808080;
}

.correct-answer {
  background-color: #00FF00 !important;
  border-color: #00FF00 !important;
  color: #FFFFFF !important;
}